* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Inter;
    display: flex;
    flex-direction: column;
}
.body {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}
h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
.container {
    max-width: 960px;
    padding: 48px;
    border-radius: 20px;
    vertical-align: top;
    margin: auto;
}

.container .left img {
    width: 100%;
}
    .container .right p {
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
    }
.footer {
    border-top: 1px solid #e6e9ec;
    padding: 24px 48px;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #9ba7b2;
    font-weight: 300;
}
#footer p {
        color: #777;
    }

    #footer strong {
        font-weight: 500;
    }

.loading {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 50%;
    margin-right: 7px;
    width: 17px;
    display: inline-block;
    height: 17px;
    border: 0.25rem solid rgba(0, 0, 0, 0);
    border-top-color: #000000;
    animation: spin 1.2s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-animation: spin 1.2s infinite cubic-bezier(0.45, 0.1, 0.25, 1);
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .right { margin-top: 25px; text-align: center; }
}

@media (min-width: 768px) {
    .container .left {
        display: inline-block;
        width: 49%;
    }

    .container .right {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .footer {
        position: fixed !important;
    }

    .container .left svg {
        margin-top: -60px;
        margin-right: 20px;
        width: 90%;
    }
}